# Project 02 - Data Processing

## Step 4 - Calculate Weekly Average

In [1]:
import datetime
import numpy as np
import pandas as pd
pd.__version__

'1.2.5'

In [2]:
BASE_PATH = "./data/jh_covid19/csse_covid_19_data/csse_covid_19_daily_reports/"
BASE_PATH_WB = "./data/world_bank/"
BASE_PATH_WHO = "./data/who/"
BASE_PATH_OUT = "./data/output/"

In [3]:
df_src = pd.read_csv(BASE_PATH_OUT + 'covid_data_v4.csv')
df_src['Date']= pd.to_datetime(df_src['Date'])
df_src

,Country Code,Country Name,Date,Confirmed,Deaths,New Confirmed,New Deaths,Fatality Ratio,Life Expectancy,Total Population
0,AFG,Afghanistan,2020-02-24,5.0,0.0,5.0,0.0,0.000000,65.173,38928341.0
1,AFG,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
2,AFG,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
3,AFG,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
4,AFG,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
...,...,...,...,...,...,...,...,...,...,...
151971,ZWE,Zimbabwe,2022-05-26,251646.0,5498.0,418.0,2.0,0.021848,61.738,14862927.0
151972,ZWE,Zimbabwe,2022-05-27,251959.0,5500.0,313.0,2.0,0.021829,61.738,14862927.0
151973,ZWE,Zimbabwe,2022-05-28,251959.0,5500.0,0.0,0.0,0.021829,61.738,14862927.0
151974,ZWE,Zimbabwe,2022-05-29,252092.0,5500.0,133.0,0.0,0.021817,61.738,14862927.0
151975,ZWE,Zimbabwe,2022-05-30,252092.0,5500.0,0.0,0.0,0.021817,61.738,14862927.0

In [4]:
df_src.dtypes

Country Code                object
Country Name                object
Date                datetime64[ns]
Confirmed                  float64
Deaths                     float64
New Confirmed              float64
New Deaths                 float64
Fatality Ratio             float64
Life Expectancy            float64
Total Population           float64
dtype: object

### 4.1 Examine Data

In [5]:
country_map_by_code = {}
country_code_list = df_src['Country Code'].unique()
country_code_list

array(['AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS',
       'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR',
       'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN',
       'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD',
       'COG', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU',
       'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP',
       'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'FSM', 'GAB', 'GBR', 'GEO',
       'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUY',
       'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ',
       'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ',
       'KHM', 'KIR', 'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LIE',
       'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAR', 'MCO', 'MDA', 'MDG',
       'MDV', 'MEX', 'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG',
       'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAM', 'NER', 'NGA', 'NIC',
       'NLD', 'NOR', 'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL',
       'PLW', 'PNG', 'POL', 'PRT', 'PRY', 'PSE', 'QAT', 'ROU', 'RUS',
       'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR',
       'SOM', 'SRB', 'SSD', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SYC',
       'SYR', 'TCD', 'TGO', 'THA', 'TJK', 'TLS', 'TON', 'TTO', 'TUN',
       'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VEN', 'VNM',
       'VUT', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [6]:
start_date_list = []
skip_list = []
GLOBAL_START_DATE = datetime.datetime.strptime('2020-04-27', '%Y-%m-%d')

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
    df_current = df_src[df_src['Country Code'] == current_country]
    start_date = df_current['Date'].min()
    
    if start_date > GLOBAL_START_DATE:
        print('skip: {}: {}'.format(current_country, start_date))
        skip_list.append(current_country)
        continue
    
    print('{}: {}'.format(current_country, start_date))
    start_date_list.append(start_date)
    
max(start_date_list)

AFG: 2020-02-24 00:00:00
AGO: 2020-03-20 00:00:00
ALB: 2020-03-09 00:00:00
AND: 2020-03-02 00:00:00
ARE: 2020-01-29 00:00:00
ARG: 2020-03-03 00:00:00
ARM: 2020-03-01 00:00:00
ATG: 2020-03-13 00:00:00
AUS: 2020-01-23 00:00:00
AUT: 2020-02-25 00:00:00
AZE: 2020-02-28 00:00:00
BDI: 2020-03-31 00:00:00
BEL: 2020-02-04 00:00:00
BEN: 2020-03-16 00:00:00
BFA: 2020-03-10 00:00:00
BGD: 2020-03-08 00:00:00
BGR: 2020-03-08 00:00:00
BHR: 2020-02-24 00:00:00
BHS: 2020-03-16 00:00:00
BIH: 2020-03-05 00:00:00
BLR: 2020-02-28 00:00:00
BLZ: 2020-03-23 00:00:00
BOL: 2020-03-11 00:00:00
BRA: 2020-01-23 00:00:00
BRB: 2020-03-17 00:00:00
BRN: 2020-03-09 00:00:00
BTN: 2020-03-06 00:00:00
BWA: 2020-03-30 00:00:00
CAF: 2020-03-15 00:00:00
CAN: 2020-01-26 00:00:00
CHE: 2020-02-25 00:00:00
CHL: 2020-03-03 00:00:00
CHN: 2020-01-22 00:00:00
CIV: 2020-03-11 00:00:00
CMR: 2020-03-06 00:00:00
COD: 2020-03-11 00:00:00
COG: 2020-03-15 00:00:00
COL: 2020-01-23 00:00:00
skip: COM: 2020-04-30 00:00:00
CPV: 2020-03-20 00:00:00
CRI: 2020-03-06 00:00:00
CUB: 2020-03-12 00:00:00
CYP: 2020-03-09 00:00:00
CZE: 2020-03-01 00:00:00
DEU: 2020-01-28 00:00:00
DJI: 2020-03-18 00:00:00
DMA: 2020-03-22 00:00:00
DNK: 2020-02-27 00:00:00
DOM: 2020-03-01 00:00:00
DZA: 2020-02-25 00:00:00
ECU: 2020-03-01 00:00:00
EGY: 2020-02-14 00:00:00
ERI: 2020-03-21 00:00:00
ESP: 2020-02-01 00:00:00
EST: 2020-02-27 00:00:00
ETH: 2020-03-13 00:00:00
FIN: 2020-01-29 00:00:00
FJI: 2020-03-19 00:00:00
FRA: 2020-01-24 00:00:00
skip: FSM: 2021-01-21 00:00:00
GAB: 2020-03-14 00:00:00
GBR: 2020-01-31 00:00:00
GEO: 2020-02-26 00:00:00
GHA: 2020-03-14 00:00:00
GIN: 2020-03-13 00:00:00
GMB: 2020-03-17 00:00:00
GNB: 2020-03-25 00:00:00
GNQ: 2020-03-15 00:00:00
GRC: 2020-02-26 00:00:00
GRD: 2020-03-22 00:00:00
GTM: 2020-03-14 00:00:00
GUY: 2020-03-12 00:00:00
HND: 2020-03-11 00:00:00
HRV: 2020-02-25 00:00:00
HTI: 2020-03-20 00:00:00
HUN: 2020-03-04 00:00:00
IDN: 2020-03-02 00:00:00
IND: 2020-01-30 00:00:00
IRL: 2020-02-29 00:00:00
IRN: 2020-02-19 00:00:00
IRQ: 2020-02-23 00:00:00
ISL: 2020-02-28 00:00:00
ISR: 2020-02-21 00:00:00
ITA: 2020-01-31 00:00:00
JAM: 2020-03-11 00:00:00
JOR: 2020-03-03 00:00:00
JPN: 2020-01-22 00:00:00
KAZ: 2020-03-13 00:00:00
KEN: 2020-03-13 00:00:00
KGZ: 2020-03-18 00:00:00
KHM: 2020-01-27 00:00:00
KIR: 2020-01-22 00:00:00
KOR: 2020-01-22 00:00:00
KWT: 2020-02-24 00:00:00
LAO: 2020-03-24 00:00:00
LBN: 2020-02-21 00:00:00
LBR: 2020-03-16 00:00:00
LBY: 2020-03-24 00:00:00
LIE: 2020-03-04 00:00:00
LKA: 2020-01-27 00:00:00
skip: LSO: 2020-05-13 00:00:00
LTU: 2020-02-28 00:00:00
LUX: 2020-02-29 00:00:00
LVA: 2020-03-02 00:00:00
MAR: 2020-03-02 00:00:00
MCO: 2020-02-29 00:00:00
MDA: 2020-03-08 00:00:00
MDG: 2020-03-20 00:00:00
MDV: 2020-03-08 00:00:00
MEX: 2020-01-23 00:00:00
skip: MHL: 2020-10-28 00:00:00
MKD: 2020-02-26 00:00:00
MLI: 2020-03-25 00:00:00
MLT: 2020-03-07 00:00:00
MMR: 2020-03-27 00:00:00
MNE: 2020-03-17 00:00:00
MNG: 2020-03-10 00:00:00
MOZ: 2020-03-22 00:00:00
MRT: 2020-03-14 00:00:00
MUS: 2020-03-18 00:00:00
MWI: 2020-04-02 00:00:00
MYS: 2020-01-22 00:00:00
NAM: 2020-03-14 00:00:00
NER: 2020-03-20 00:00:00
NGA: 2020-02-28 00:00:00
NIC: 2020-03-19 00:00:00
NLD: 2020-02-27 00:00:00
NOR: 2020-02-26 00:00:00
NPL: 2020-01-25 00:00:00
NZL: 2020-01-22 00:00:00
OMN: 2020-02-24 00:00:00
PAK: 2020-02-26 00:00:00
PAN: 2020-03-10 00:00:00
PER: 2020-03-06 00:00:00
PHL: 2020-01-23 00:00:00
PLW: 2020-01-22 00:00:00
PNG: 2020-03-20 00:00:00
POL: 2020-03-04 00:00:00
PRT: 2020-03-02 00:00:00
PRY: 2020-03-08 00:00:00
PSE: 2020-03-26 00:00:00
QAT: 2020-02-29 00:00:00
ROU: 2020-02-26 00:00:00
RUS: 2020-01-31 00:00:00
RWA: 2020-03-14 00:00:00
SAU: 2020-03-02 00:00:00
SDN: 2020-03-13 00:00:00
SEN: 2020-03-02 00:00:00
SGP: 2020-01-23 00:00:00
skip: SLB: 2020-10-12 00:00:00
SLE: 2020-03-31 00:00:00
SLV: 2020-03-19 00:00:00
SMR: 2020-02-27 00:00:00
SOM: 2020-03-16 00:00:00
SRB: 2020-03-06 00:00:00
SSD: 2020-04-05 00:00:00
SUR: 2020-03-14 00:00:00
SVK: 2020-03-06 00:00:00
SVN: 2020-03-05 00:00:00
SWE: 2020-01-31 00:00:00
SWZ: 2020-03-14 00:00:00
SYC: 2020-03-14 00:00:00
SYR: 2020-03-22 00:00:00
TCD: 2020-03-19 00:00:00
TGO: 2020-03-06 00:00:00
THA: 2020-01-22 00:00:00
skip: TJK: 2020-04-30 00:00:00
TLS: 2020-03-22 00:00:00
TON: 2020-01-22 00:00:00
TTO: 2020-03-14 00:00:00
TUN: 2020-03-04 00:00:00
TUR: 2020-03-11 00:00:00
TZA: 2020-03-16 00:00:00
UGA: 2020-03-21 00:00:00
UKR: 2020-03-03 00:00:00
URY: 2020-03-14 00:00:00
USA: 2020-01-22 00:00:00
UZB: 2020-03-15 00:00:00
VEN: 2020-03-14 00:00:00
VNM: 2020-01-23 00:00:00
skip: VUT: 2020-11-10 00:00:00
WSM: 2020-03-22 00:00:00
XKX: 2020-03-15 00:00:00
YEM: 2020-04-10 00:00:00
ZAF: 2020-03-05 00:00:00
ZMB: 2020-03-18 00:00:00
ZWE: 2020-03-20 00:00:00

Timestamp('2020-04-10 00:00:00')

In [7]:
df_countries = pd.read_csv(BASE_PATH_WB + 'WDICountry.csv')
df_countries.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [8]:
for i in range(len(skip_list)):
    current_country = skip_list[i]
    df_result = df_countries[df_countries['Country Code'] == current_country]
    print('{} = {}'.format(current_country, df_result.iloc[0]['Short Name']))

COM = Comoros
FSM = Micronesia
LSO = Lesotho
MHL = Marshall Islands
SLB = Solomon Islands
TJK = Tajikistan
VUT = Vanuatu

In [9]:
country_code_list = [x for x in country_code_list if x not in skip_list]
np.array(country_code_list)

array(['AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS',
       'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR',
       'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN',
       'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD',
       'COG', 'COL', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU', 'DJI',
       'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST',
       'ETH', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GEO', 'GHA', 'GIN',
       'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUY', 'HND', 'HRV',
       'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR',
       'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR',
       'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LIE', 'LKA', 'LTU',
       'LUX', 'LVA', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD',
       'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT', 'MUS', 'MWI',
       'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL',
       'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRT',
       'PRY', 'PSE', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN',
       'SGP', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSD', 'SUR', 'SVK',
       'SVN', 'SWE', 'SWZ', 'SYC', 'SYR', 'TCD', 'TGO', 'THA', 'TLS',
       'TON', 'TTO', 'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA',
       'UZB', 'VEN', 'VNM', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='<U3')

### 4.2 Preparation

In [10]:
date_list = []
monday_date = GLOBAL_START_DATE

while monday_date <= datetime.datetime.strptime('2022-05-30', '%Y-%m-%d'):
    date_list.append(monday_date)
    monday_date += datetime.timedelta(days = 7)
    
date_list = np.array(date_list)
date_list

array([datetime.datetime(2020, 4, 27, 0, 0),
       datetime.datetime(2020, 5, 4, 0, 0),
       datetime.datetime(2020, 5, 11, 0, 0),
       datetime.datetime(2020, 5, 18, 0, 0),
       datetime.datetime(2020, 5, 25, 0, 0),
       datetime.datetime(2020, 6, 1, 0, 0),
       datetime.datetime(2020, 6, 8, 0, 0),
       datetime.datetime(2020, 6, 15, 0, 0),
       datetime.datetime(2020, 6, 22, 0, 0),
       datetime.datetime(2020, 6, 29, 0, 0),
       datetime.datetime(2020, 7, 6, 0, 0),
       datetime.datetime(2020, 7, 13, 0, 0),
       datetime.datetime(2020, 7, 20, 0, 0),
       datetime.datetime(2020, 7, 27, 0, 0),
       datetime.datetime(2020, 8, 3, 0, 0),
       datetime.datetime(2020, 8, 10, 0, 0),
       datetime.datetime(2020, 8, 17, 0, 0),
       datetime.datetime(2020, 8, 24, 0, 0),
       datetime.datetime(2020, 8, 31, 0, 0),
       datetime.datetime(2020, 9, 7, 0, 0),
       datetime.datetime(2020, 9, 14, 0, 0),
       datetime.datetime(2020, 9, 21, 0, 0),
       datetime.datetime(2020, 9, 28, 0, 0),
       datetime.datetime(2020, 10, 5, 0, 0),
       datetime.datetime(2020, 10, 12, 0, 0),
       datetime.datetime(2020, 10, 19, 0, 0),
       datetime.datetime(2020, 10, 26, 0, 0),
       datetime.datetime(2020, 11, 2, 0, 0),
       datetime.datetime(2020, 11, 9, 0, 0),
       datetime.datetime(2020, 11, 16, 0, 0),
       datetime.datetime(2020, 11, 23, 0, 0),
       datetime.datetime(2020, 11, 30, 0, 0),
       datetime.datetime(2020, 12, 7, 0, 0),
       datetime.datetime(2020, 12, 14, 0, 0),
       datetime.datetime(2020, 12, 21, 0, 0),
       datetime.datetime(2020, 12, 28, 0, 0),
       datetime.datetime(2021, 1, 4, 0, 0),
       datetime.datetime(2021, 1, 11, 0, 0),
       datetime.datetime(2021, 1, 18, 0, 0),
       datetime.datetime(2021, 1, 25, 0, 0),
       datetime.datetime(2021, 2, 1, 0, 0),
       datetime.datetime(2021, 2, 8, 0, 0),
       datetime.datetime(2021, 2, 15, 0, 0),
       datetime.datetime(2021, 2, 22, 0, 0),
       datetime.datetime(2021, 3, 1, 0, 0),
       datetime.datetime(2021, 3, 8, 0, 0),
       datetime.datetime(2021, 3, 15, 0, 0),
       datetime.datetime(2021, 3, 22, 0, 0),
       datetime.datetime(2021, 3, 29, 0, 0),
       datetime.datetime(2021, 4, 5, 0, 0),
       datetime.datetime(2021, 4, 12, 0, 0),
       datetime.datetime(2021, 4, 19, 0, 0),
       datetime.datetime(2021, 4, 26, 0, 0),
       datetime.datetime(2021, 5, 3, 0, 0),
       datetime.datetime(2021, 5, 10, 0, 0),
       datetime.datetime(2021, 5, 17, 0, 0),
       datetime.datetime(2021, 5, 24, 0, 0),
       datetime.datetime(2021, 5, 31, 0, 0),
       datetime.datetime(2021, 6, 7, 0, 0),
       datetime.datetime(2021, 6, 14, 0, 0),
       datetime.datetime(2021, 6, 21, 0, 0),
       datetime.datetime(2021, 6, 28, 0, 0),
       datetime.datetime(2021, 7, 5, 0, 0),
       datetime.datetime(2021, 7, 12, 0, 0),
       datetime.datetime(2021, 7, 19, 0, 0),
       datetime.datetime(2021, 7, 26, 0, 0),
       datetime.datetime(2021, 8, 2, 0, 0),
       datetime.datetime(2021, 8, 9, 0, 0),
       datetime.datetime(2021, 8, 16, 0, 0),
       datetime.datetime(2021, 8, 23, 0, 0),
       datetime.datetime(2021, 8, 30, 0, 0),
       datetime.datetime(2021, 9, 6, 0, 0),
       datetime.datetime(2021, 9, 13, 0, 0),
       datetime.datetime(2021, 9, 20, 0, 0),
       datetime.datetime(2021, 9, 27, 0, 0),
       datetime.datetime(2021, 10, 4, 0, 0),
       datetime.datetime(2021, 10, 11, 0, 0),
       datetime.datetime(2021, 10, 18, 0, 0),
       datetime.datetime(2021, 10, 25, 0, 0),
       datetime.datetime(2021, 11, 1, 0, 0),
       datetime.datetime(2021, 11, 8, 0, 0),
       datetime.datetime(2021, 11, 15, 0, 0),
       datetime.datetime(2021, 11, 22, 0, 0),
       datetime.datetime(2021, 11, 29, 0, 0),
       datetime.datetime(2021, 12, 6, 0, 0),
       datetime.datetime(2021, 12, 13, 0, 0),
       datetime.datetime(2021, 12, 20, 0, 0),
       datetime.datetime(2021, 12, 27, 0, 0),
       datetime.datetime(2022, 1, 3, 0, 0),
       datetime.datetime(2022, 1, 10, 0, 0),
       datetime.datetime(2022, 1, 17, 0, 0),
       datetime.datetime(2022, 1, 24, 0, 0),
       datetime.datetime(2022, 1, 31, 0, 0),
       datetime.datetime(2022, 2, 7, 0, 0),
       datetime.datetime(2022, 2, 14, 0, 0),
       datetime.datetime(2022, 2, 21, 0, 0),
       datetime.datetime(2022, 2, 28, 0, 0),
       datetime.datetime(2022, 3, 7, 0, 0),
       datetime.datetime(2022, 3, 14, 0, 0),
       datetime.datetime(2022, 3, 21, 0, 0),
       datetime.datetime(2022, 3, 28, 0, 0),
       datetime.datetime(2022, 4, 4, 0, 0),
       datetime.datetime(2022, 4, 11, 0, 0),
       datetime.datetime(2022, 4, 18, 0, 0),
       datetime.datetime(2022, 4, 25, 0, 0),
       datetime.datetime(2022, 5, 2, 0, 0),
       datetime.datetime(2022, 5, 9, 0, 0),
       datetime.datetime(2022, 5, 16, 0, 0),
       datetime.datetime(2022, 5, 23, 0, 0),
       datetime.datetime(2022, 5, 30, 0, 0)], dtype=object)

In [11]:
df_test = df_src[(df_src['Date'] >= date_list[0]) & (df_src['Date'] < date_list[1]) & (df_src['Country Code'] == 'USA')]
df_test

,Country Code,Country Name,Date,Confirmed,Deaths,New Confirmed,New Deaths,Fatality Ratio,Life Expectancy,Total Population
143364,USA,United States,2020-04-27,983506.0,56806.0,23532.0,1395.0,0.057759,77.280488,331501080.0
143365,USA,United States,2020-04-28,1008010.0,58904.0,24504.0,2098.0,0.058436,77.280488,331501080.0
143366,USA,United States,2020-04-29,1035932.0,61386.0,27922.0,2482.0,0.059257,77.280488,331501080.0
143367,USA,United States,2020-04-30,1065893.0,63282.0,29961.0,1896.0,0.059370,77.280488,331501080.0
143368,USA,United States,2020-05-01,1100080.0,65247.0,34187.0,1965.0,0.059311,77.280488,331501080.0
143369,USA,United States,2020-05-02,1128382.0,66838.0,28302.0,1591.0,0.059233,77.280488,331501080.0
143370,USA,United States,2020-05-03,1153077.0,68228.0,24695.0,1390.0,0.059170,77.280488,331501080.0

In [12]:
df_test['New Confirmed'].sum()

193103.0

In [13]:
len(df_test)

7

### 4.3 Generate Data

In [14]:
df_avg_by_region = {}

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     current_country = 'USA'

    print('processing: {} ...'.format(current_country))
    df_current = pd.DataFrame(date_list[:-1], columns=['Date'])
    df_current['Country Code'] = current_country
    
    col_avg_new = []
    col_avg_death = []
    col_avg_fatality = []
    
    for j in range(len(date_list) - 1):
        current_start_date = date_list[j]
        current_end_date = date_list[j + 1]
        
        df_filtered = df_src[(df_src['Date'] >= current_start_date) & (df_src['Date'] < current_end_date) & (df_src['Country Code'] == current_country)]
        number_record = len(df_filtered)
        
        col_avg_new.append(df_filtered['New Confirmed'].sum() / float(number_record))
        col_avg_death.append(df_filtered['New Deaths'].sum() / float(number_record))
        col_avg_fatality.append(df_filtered['Fatality Ratio'].sum() / float(number_record))
        
    df_current['7 Day Avg New Confirmed'] = col_avg_new
    df_current['7 Day Avg New Deaths'] = col_avg_death
    df_current['7 Day Avg Fatality Ratio'] = col_avg_fatality
    
    df_avg_by_region[current_country] = df_current

processing: AFG ...
processing: AGO ...
processing: ALB ...
processing: AND ...
processing: ARE ...
processing: ARG ...
processing: ARM ...
processing: ATG ...
processing: AUS ...
processing: AUT ...
processing: AZE ...
processing: BDI ...
processing: BEL ...
processing: BEN ...
processing: BFA ...
processing: BGD ...
processing: BGR ...
processing: BHR ...
processing: BHS ...
processing: BIH ...
processing: BLR ...
processing: BLZ ...
processing: BOL ...
processing: BRA ...
processing: BRB ...
processing: BRN ...
processing: BTN ...
processing: BWA ...
processing: CAF ...
processing: CAN ...
processing: CHE ...
processing: CHL ...
processing: CHN ...
processing: CIV ...
processing: CMR ...
processing: COD ...
processing: COG ...
processing: COL ...
processing: CPV ...
processing: CRI ...
processing: CUB ...
processing: CYP ...
processing: CZE ...
processing: DEU ...
processing: DJI ...
processing: DMA ...
processing: DNK ...
processing: DOM ...
processing: DZA ...
processing: ECU ...
processing: EGY ...
processing: ERI ...
processing: ESP ...
processing: EST ...
processing: ETH ...
processing: FIN ...
processing: FJI ...
processing: FRA ...
processing: GAB ...
processing: GBR ...
processing: GEO ...
processing: GHA ...
processing: GIN ...
processing: GMB ...
processing: GNB ...
processing: GNQ ...
processing: GRC ...
processing: GRD ...
processing: GTM ...
processing: GUY ...
processing: HND ...
processing: HRV ...
processing: HTI ...
processing: HUN ...
processing: IDN ...
processing: IND ...
processing: IRL ...
processing: IRN ...
processing: IRQ ...
processing: ISL ...
processing: ISR ...
processing: ITA ...
processing: JAM ...
processing: JOR ...
processing: JPN ...
processing: KAZ ...
processing: KEN ...
processing: KGZ ...
processing: KHM ...
processing: KIR ...
processing: KOR ...
processing: KWT ...
processing: LAO ...
processing: LBN ...
processing: LBR ...
processing: LBY ...
processing: LIE ...
processing: LKA ...
processing: LTU ...
processing: LUX ...
processing: LVA ...
processing: MAR ...
processing: MCO ...
processing: MDA ...
processing: MDG ...
processing: MDV ...
processing: MEX ...
processing: MKD ...
processing: MLI ...
processing: MLT ...
processing: MMR ...
processing: MNE ...
processing: MNG ...
processing: MOZ ...
processing: MRT ...
processing: MUS ...
processing: MWI ...
processing: MYS ...
processing: NAM ...
processing: NER ...
processing: NGA ...
processing: NIC ...
processing: NLD ...
processing: NOR ...
processing: NPL ...
processing: NZL ...
processing: OMN ...
processing: PAK ...
processing: PAN ...
processing: PER ...
processing: PHL ...
processing: PLW ...
processing: PNG ...
processing: POL ...
processing: PRT ...
processing: PRY ...
processing: PSE ...
processing: QAT ...
processing: ROU ...
processing: RUS ...
processing: RWA ...
processing: SAU ...
processing: SDN ...
processing: SEN ...
processing: SGP ...
processing: SLE ...
processing: SLV ...
processing: SMR ...
processing: SOM ...
processing: SRB ...
processing: SSD ...
processing: SUR ...
processing: SVK ...
processing: SVN ...
processing: SWE ...
processing: SWZ ...
processing: SYC ...
processing: SYR ...
processing: TCD ...
processing: TGO ...
processing: THA ...
processing: TLS ...
processing: TON ...
processing: TTO ...
processing: TUN ...
processing: TUR ...
processing: TZA ...
processing: UGA ...
processing: UKR ...
processing: URY ...
processing: USA ...
processing: UZB ...
processing: VEN ...
processing: VNM ...
processing: WSM ...
processing: XKX ...
processing: YEM ...
processing: ZAF ...
processing: ZMB ...
processing: ZWE ...

In [15]:
df_avg_by_region['GBR']

,Date,Country Code,7 Day Avg New Confirmed,7 Day Avg New Deaths,7 Day Avg Fatality Ratio
0,2020-04-27,GBR,4829.285714,1103.428571,0.148602
1,2020-05-04,GBR,4658.428571,487.428571,0.147918
2,2020-05-11,GBR,3505.857143,398.000000,0.143266
3,2020-05-18,GBR,2349.571429,308.428571,0.142177
4,2020-05-25,GBR,2177.142857,242.285714,0.140049
...,...,...,...,...,...
104,2022-04-25,GBR,15385.428571,223.857143,0.007893
105,2022-05-02,GBR,11159.142857,186.857143,0.007922
106,2022-05-09,GBR,9876.142857,149.285714,0.007949
107,2022-05-16,GBR,286401.714286,1848.857143,0.007925
108,2022-05-23,GBR,2600.000000,54.857143,0.007970

### 4.4 Validation

In [16]:
df_test = df_src[
    (df_src['Date'] >= datetime.datetime.strptime('2022-05-16', '%Y-%m-%d')) & 
    (df_src['Date'] < datetime.datetime.strptime('2022-05-23', '%Y-%m-%d')) & 
    (df_src['Country Code'] == 'GBR')]
df_test

,Country Code,Country Name,Date,Confirmed,Deaths,New Confirmed,New Deaths,Fatality Ratio,Life Expectancy,Total Population
50466,GBR,United Kingdom,2022-05-16,22385203.0,178063.0,23952.0,158.0,0.007954,80.902439,67215293.0
50467,GBR,United Kingdom,2022-05-17,22393799.0,178248.0,8596.0,185.0,0.007960,80.902439,67215293.0
50468,GBR,United Kingdom,2022-05-18,22402392.0,178378.0,8593.0,130.0,0.007962,80.902439,67215293.0
50469,GBR,United Kingdom,2022-05-19,22416204.0,178547.0,13812.0,169.0,0.007965,80.902439,67215293.0
50470,GBR,United Kingdom,2022-05-20,24366009.0,190847.0,1949805.0,12300.0,0.007833,80.902439,67215293.0
50471,GBR,United Kingdom,2022-05-21,24366063.0,190847.0,54.0,0.0,0.007832,80.902439,67215293.0
50472,GBR,United Kingdom,2022-05-22,22462129.0,178973.0,0.0,0.0,0.007968,80.902439,67215293.0

In [17]:
df_test['Fatality Ratio'].sum() / 7.

0.007924929600271743

In [18]:
df_test['New Confirmed'].sum() / 7.

286401.71428571426

In [19]:
df_test['New Deaths'].sum() / 7.

1848.857142857143

### 4.5 Export

In [20]:
dfs_merged_regions = pd.concat(list(df_avg_by_region.values())).reset_index(drop=True)
dfs_merged_regions

,Date,Country Code,7 Day Avg New Confirmed,7 Day Avg New Deaths,7 Day Avg Fatality Ratio
0,2020-04-27,AFG,143.714286,3.285714,0.031625
1,2020-05-04,AFG,276.142857,6.714286,0.029203
2,2020-05-11,AFG,319.000000,7.142857,0.025618
3,2020-05-18,AFG,576.142857,7.571429,0.022492
4,2020-05-25,AFG,644.571429,4.571429,0.018243
...,...,...,...,...,...
19615,2022-04-25,ZWE,55.285714,0.142857,0.022072
19616,2022-05-02,ZWE,63.000000,1.000000,0.022054
19617,2022-05-09,ZWE,122.000000,0.857143,0.022021
19618,2022-05-16,ZWE,288.857143,2.000000,0.021932
19619,2022-05-23,ZWE,198.571429,0.714286,0.021860

In [21]:
dfs_merged_regions = dfs_merged_regions.sort_values(by=["Country Code", "Date"]).reset_index(drop=True)

dfs_merged_regions.to_csv(BASE_PATH_OUT + "covid_data_v5.csv", date_format='%m/%d/%Y', index=False)