# Project 02 - Data Processing

## Step 5 - Additional Data

In [1]:
import datetime
import numpy as np
import pandas as pd
pd.__version__

'1.2.5'

In [2]:
BASE_PATH = "./data/jh_covid19/csse_covid_19_data/csse_covid_19_daily_reports/"
BASE_PATH_WB = "./data/world_bank/"
BASE_PATH_WHO = "./data/who/"
BASE_PATH_OUT = "./data/output/"

In [3]:
df_countries = pd.read_csv(BASE_PATH_WB + 'WDICountry.csv')
df_countries.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [4]:
df_statistic = pd.read_csv(BASE_PATH_WB + 'WDIData.csv')
df_statistic.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.559819,16.936004,17.337896,17.687092,18.140971,18.491344,18.825520,19.272212,19.628009,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.281667,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.601816,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.402592,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN

In [5]:
df_data = pd.read_csv(BASE_PATH_OUT + 'covid_data_v5.csv')
df_data['Date']= pd.to_datetime(df_data['Date'])
df_data

,Date,Country Code,7 Day Avg New Confirmed,7 Day Avg New Deaths,7 Day Avg Fatality Ratio
0,2020-04-27,AFG,143.714286,3.285714,0.031625
1,2020-05-04,AFG,276.142857,6.714286,0.029203
2,2020-05-11,AFG,319.000000,7.142857,0.025618
3,2020-05-18,AFG,576.142857,7.571429,0.022492
4,2020-05-25,AFG,644.571429,4.571429,0.018243
...,...,...,...,...,...
19615,2022-04-25,ZWE,55.285714,0.142857,0.022072
19616,2022-05-02,ZWE,63.000000,1.000000,0.022054
19617,2022-05-09,ZWE,122.000000,0.857143,0.022021
19618,2022-05-16,ZWE,288.857143,2.000000,0.021932
19619,2022-05-23,ZWE,198.571429,0.714286,0.021860

In [6]:
country_map_by_code = {}
country_code_list = df_data['Country Code'].unique()
country_code_list

array(['AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS',
       'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR',
       'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN',
       'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD',
       'COG', 'COL', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU', 'DJI',
       'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST',
       'ETH', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GEO', 'GHA', 'GIN',
       'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUY', 'HND', 'HRV',
       'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR',
       'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR',
       'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LIE', 'LKA', 'LTU',
       'LUX', 'LVA', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD',
       'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT', 'MUS', 'MWI',
       'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL',
       'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRT',
       'PRY', 'PSE', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN',
       'SGP', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSD', 'SUR', 'SVK',
       'SVN', 'SWE', 'SWZ', 'SYC', 'SYR', 'TCD', 'TGO', 'THA', 'TLS',
       'TON', 'TTO', 'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA',
       'UZB', 'VEN', 'VNM', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype=object)

In [7]:
len(df_statistic['Indicator Name'].unique())

1445

In [8]:
selected_years = list(range(1980, 2021, 5))
NUM_OF_YEARS = len(selected_years)
selected_years

[1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2020]

### 5.1 Prepare Columns

#### 5.1.1 Country Name, Country Code, Years

In [9]:
col_country_names = []

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
    df_filtered = df_countries[df_countries['Country Code'] == current_country]
    
    for j in range(len(selected_years)):
        col_country_names.append(df_filtered.iloc[0]['Short Name'])
    
print(len(col_country_names))

1620

In [10]:
col_country_codes = []

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
    
    for j in range(len(selected_years)):
        col_country_codes.append(current_country)
    
print(len(col_country_codes))

1620

In [11]:
col_years = []

for i in range(len(country_code_list)):
    for j in range(len(selected_years)):
        col_years.append(selected_years[j])
    
print(len(col_years))
# col_years

1620

#### 5.1.2 Life expectancy at birth, total (years)

__SP.DYN.LE00.IN__

In [12]:
df_filtered = df_statistic[(df_statistic['Country Code'] == 'USA') & (df_statistic['Indicator Code'] == 'SP.DYN.LE00.IN')]
print(df_filtered)
for j in range(len(selected_years)):
    print(df_filtered.iloc[0][str(selected_years[j])])

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 66 columns]

IndexError: single positional indexer is out-of-bounds

In [ ]:
col_sp_dyn_le00_in = []
current_indicator = 'SP.DYN.LE00.IN'

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     print('processing: {} ...'.format(current_country))
    df_filtered = df_statistic[(df_statistic['Country Code'] == current_country) & (df_statistic['Indicator Code'] == current_indicator)]
#     print(df_filtered)
    
    for j in range(len(selected_years)):
        col_sp_dyn_le00_in.append(df_filtered.iloc[0][str(selected_years[j])])
#         break

#     break
    
# col_sp_dyn_le00_in

#### 5.1.3 Population, total

__SP.POP.TOTL__

In [ ]:
col_sp_pop_totl = []
current_indicator = 'SP.POP.TOTL'

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     print('processing: {} ...'.format(current_country))
    df_filtered = df_statistic[(df_statistic['Country Code'] == current_country) & (df_statistic['Indicator Code'] == current_indicator)]
#     print(df_filtered)
    
    for j in range(len(selected_years)):
        col_sp_pop_totl.append(df_filtered.iloc[0][str(selected_years[j])])

#### 5.1.4 Human Capital Index (HCI) (scale 0-1)

__HD.HCI.OVRL__

In [ ]:
col_hd_hci_ovrl = []
current_indicator = 'HD.HCI.OVRL'

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     print('processing: {} ...'.format(current_country))
    df_filtered = df_statistic[(df_statistic['Country Code'] == current_country) & (df_statistic['Indicator Code'] == current_indicator)]
#     print(df_filtered)
    
    for j in range(len(selected_years)):
        col_hd_hci_ovrl.append(df_filtered.iloc[0][str(selected_years[j])])

#### 5.1.5 GDP per capita (current US$)

__NY.GDP.PCAP.CD__

In [ ]:
col_ny_gdp_mktp_cd = []
current_indicator = 'NY.GDP.PCAP.CD'

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     print('processing: {} ...'.format(current_country))
    df_filtered = df_statistic[(df_statistic['Country Code'] == current_country) & (df_statistic['Indicator Code'] == current_indicator)]
#     print(df_filtered)
    
    for j in range(len(selected_years)):
        col_ny_gdp_mktp_cd.append(df_filtered.iloc[0][str(selected_years[j])])

#### 5.1.6 GDP growth (annual %)

__NY.GDP.MKTP.KD.ZG__

In [ ]:
col_ny_gdp_mktp_kd_zg = []
current_indicator = 'NY.GDP.MKTP.KD.ZG'

for i in range(len(country_code_list)):
    current_country = country_code_list[i]
#     print('processing: {} ...'.format(current_country))
    df_filtered = df_statistic[(df_statistic['Country Code'] == current_country) & (df_statistic['Indicator Code'] == current_indicator)]
#     print(df_filtered)
    
    for j in range(len(selected_years)):
        col_ny_gdp_mktp_kd_zg.append(df_filtered.iloc[0][str(selected_years[j])])

### 5.2 Generate Table

In [ ]:
df_result = pd.DataFrame(col_country_names, columns=['Country Name'])
df_result

In [ ]:
df_result['Country Code'] = col_country_codes
df_result['Year'] = col_years

df_result['SP.DYN.LE00.IN'] = col_sp_dyn_le00_in
df_result['SP.POP.TOTL'] = col_sp_pop_totl
# df_result['HD.HCI.OVRL'] = col_hd_hci_ovrl
df_result['NY.GDP.PCAP.CD'] = col_ny_gdp_mktp_cd
df_result['NY.GDP.MKTP.KD.ZG'] = col_ny_gdp_mktp_kd_zg

In [ ]:
df_result = df_result.sort_values(by=["Country Code", "Year"]).reset_index(drop=True)

df_result.to_csv(BASE_PATH_OUT + "wdi_data_v1.csv", date_format='%m/%d/%Y', index=False)

In [ ]:
df_result

### 5.3 Validation

In [ ]:
df_val = pd.read_csv(BASE_PATH_OUT + 'wdi_data_v1.csv')
df_val

In [ ]:
df_val[df_val['Country Code'] == 'USA']

In [ ]:
df_filtered = df_statistic[(df_statistic['Country Code'] == 'GBR') & (df_statistic['Indicator Code'] == 'NY.GDP.PCAP.CD')]
# print(df_filtered)
for j in range(len(selected_years)):
    print(df_filtered.iloc[0][str(selected_years[j])])

In [ ]:
# !!! TEST
df_val['SP.POP.TOTL'].max()

In [ ]:
df_val[df_val['Country Code'] == 'USA']['SP.DYN.LE00.IN'].max()